* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /**Reset para REMS - 62.5% = 10px de 16px**/
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */
img {
  max-width: 100%;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
.contenedor {
  max-width: 120rem; /** 1200px**/
  margin: 0 auto;
  width: 95%;
}

a {
  text-decoration: none;
}

/* Utilidades */
.text-center {
  text-align: center;
}
.fw-400 {
  font-weight: 400;
}
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.d-block {
  display: block !important;
}
.contenido-centrado {
  max-width: 80rem;
}

/* Botones */
.button {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  text-align: center;
  display: inline-block;
  border: none;
  outline: none;
  display: block;
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .button {
    display: inline-block;
    flex: 0 0 auto;
  }
}
.button:hover {
  cursor: pointer;
}
.yellow-button {
  background-color: #e08709;
}
.green-button {
  background-color: #71b100;
}

/* Header */
.site-header {
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}
.site-header.inicio {
  background: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .contenido-header {
    text-align: left;
  }
}
.contenido-header h1 {
  color: white;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1.8;
}

.barra {
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Navegacion */

.navegacion a {
  color: white;
  display: block;
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  .navegacion a {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.8rem; /** Esto sería igual a 18px **/
  }
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}

.navegacion a:hover {
  color: #00b1b1;
}

/* Iconos nosotros */
@media (min-width: 768px) {
  .iconos-nosotros {
    display: flex;
    justify-content: space-between;
  }
}
.icono {
  text-align: center;
}
@media (min-width: 768px) {
  .icono {
    flex: 0 0 calc(33.3% - 4rem);
  }
}

.icono h3 {
  text-transform: uppercase;
}

/* Anuncios */
@media (min-width: 768px) {
  .contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.anuncio {
  background-color: #f5f5f5;
  border: 1px solid #b5b5b5;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .anuncio {
    flex: 0 0 calc(33.3% - 1rem);
  }
}

.contenido-anuncio {
  padding: 2rem 4rem;
}

.contenido-anuncio h3 {
  line-height: 1.5;
  font-size: 28px;
}

.price {
  color: #71b100;
  font-weight: 700;
}
.ver-todas {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}
.iconos-caracteristicas {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  flex: 1;
}
.iconos-caracteristicas li {
  display: flex;
  margin: 2rem 0;
}
.iconos-caracteristicas li img {
  margin: 0 2rem;
}

/* Contact Home */
.contact-img {
  background-image: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
}
.contenido-contacto {
  flex: 0 0 95%;
  color: #ffffff;
}
.contenido-contacto p {
  font-size: 1.8rem;
  margin: 5rem 0;
}

/* Sección inferior */
@media (min-width: 768px) {
  .seccion-inferior {
    display: flex;
    justify-content: space-between;
  }
  .seccion-inferior .blog {
    flex: 0 0 60%;
  }
  .seccion-inferior .testimoniales {
    flex: 0 0 calc(40% - 2rem);
  }
}
.entrada-blog {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .entrada-blog {
    display: flex;
    justify-content: space-between;
  }
}
.entrada-blog:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .entrada-blog .imagen {
    flex: 0 0 40%;
  }
  .entrada-blog .texto-entrada {
    flex: 0 0 calc(60% - 3rem);
  }
}
.texto-entrada h4 {
  line-height: 1.4;
}
.texto-entrada a {
  color: black;
}
.texto-entrada h4::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.5rem;
  background-color: #71b100;
  margin-top: 1rem;
  border-radius: 1rem;
}
.texto-entrada span {
  color: #e08709;
}
.blog h3 {
  margin-bottom: 2rem;
}
.testimoniales h3 {
  margin-bottom: 2rem;
}
/* Testimoniales */
.testimonial {
  background-color: #71b100;
  font-size: 2.4rem;
  padding: 2rem;
  color: #ffffff;
  border-radius: 2rem;
}
.testimonial p {
  text-align: right;
}
.testimonial blockquote::before {
  content: "";
  background-image: url(../img/comilla.svg);
  width: 4rem;
  height: 4rem;
  display: block;
  position: absolute;
  left: 2rem;
}
.testimonial blockquote {
  position: relative;
  padding-left: 8rem;
  font-weight: 300;
}
/* Footer */
.site-footer {
  background-color: #333333;
  color: white;
  align-items: center;
  padding: 3rem 0;
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .site-footer {
    display: flex;
    justify-content: space-around;
  }
}
.site-footer nav {
  display: none;
}
@media (min-width: 768px) {
  .site-footer nav {
    display: block;
  }
}

/* Páginas Internas */
/* NOSOTROS */
@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2rem;
  }
}

.texto-nosotros blockquote {
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem 0 3rem 0;
}
/* ANUNCIO */
.resumen-propiedad {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Contacto*/
label {
  display: block;
  margin-left: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
legend {
  font-size: 2.4rem;
  color: #4f4f4f;
}
.contacto p {
  font-size: 1.4rem;
  color: #4f4f4f;
  margin: 2rem 0 0 1rem;
}

textarea,
select,
input,
form p,
legend {
  margin-left: 1rem;
}

/* Quitar las flechas del input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:not([type="submit"]),
textarea,
select {
  padding: 1rem;
  display: block;
  width: calc(100% - 2rem);
  background-color: #e1e1e1;
  margin: 2rem 1rem;
  border: none;
  border-radius: 1rem;
  outline: none;
}
input[type="radio"] {
  width: auto;
}
input[type="submit"] {
  margin-bottom: 1rem;
}
select {
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  height: 20rem;
}
.forma-contacto {
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forma-terminos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.forma-terminos label {
  flex: 0 0 50%;
}
.forma-terminos input {
  flex: 0 0 20%;
}
